<div class="header">
  <h1 id="title">QUOTES</h1>
  <p>Home of all wisdom</p>
  <nav>
    <a href="#view">View Quotes</a>
    <a href="#add">Add Quotes</a>
  </nav>
</div>
<div class="row">
  <div class="col-md-7">
    <div appMostVotes class="card" id="highest">
      <div class="col-9">
        <h1>HIGHEST VOTED</h1>
        <p>{{highestsaying}}</p>
        <p> ~ {{highestauthor}}</p>
        <div class="card" id="vote">
          <p>{{highestVote}} vote(s)</p>
        </div>
      </div>
  </div>
    <div *ngFor='let quote of quotes; let i = index' id="view">
      <div class="card" id="qcard">
        <div class="row">
          <div class="col-9">
            <p>{{quote.saying}}</p>
            <p id="aut"> ~ {{quote.author}}</p>
            <button (click)='toggleDetails(i)' class="btn btn-dark">More Details</button>
            <button (click)='deleteQuote(i)' class="btn btn-dark">Delete</button>
            <div *ngIf='quote.showDetails'>
                  <app-quote-details  [quote]='quote' [date]='date'></app-quote-details>
            </div>
          </div>
          <div class="col-3">
            <div class="card" id="vote">
              <p>{{quote.votes}}</p>
              <button (click)='upVote(i); highlight()' class="btn btn-success">Up: {{quote.up}} </button>
              <button (click)='downVote(i); highlight()' class="btn btn-danger">Down: {{quote.down}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-5">
    <div class="card" id="add">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</div>
